@import url('https://fonts.googleapis.com/css?family=Asap');

#kitsu_block {
    position: relative;
    top: 100px;
    background: #f75239;
    max-width: 25em;
    padding: 0.5em;
    font-family: Asap, sans-serif;
    border-radius: 2px;
    color: whitesmoke;
}

#kitsu_block img {
    position: relative;
    bottom: 80px;
    border-radius: 2px;
}

#kitsu_block a {
    text-decoration: none !important;
    padding: .8em;
    background-color: #16a085;
    border-radius: 5px;
    color: inherit;
    position: relative;
    bottom: 10px;
}

#kitsu_block h2 {
    position: relative;
    bottom: 1em;
}